<div class="project-container" style="padding: 3rem 0 15rem 0">
  <div
    style="display: flex; justify-content: center"
    class="text-white projects-header"
  >
    <div
      style="
        width: 20%;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      "
    >
      <h5 class="mat-title">TABLE OF CONTENTS</h5>
      <div
        style="height: 0.2rem; width: 70%; border-top: 2px dashed #ffffff"
      ></div>
      <h6 class="mat-subheading-2">TECHNOLOGIES</h6>
      <h6 class="mat-subheading-2">AGILE PROCESSES</h6>
    </div>

    <div style="width: 70%">
      <div style="display: flex; justify-content: space-between; width: 85%">
        <h3 class="mat-display-1">PROJECT TITLE</h3>

        <h6 class="mat-subheading-2">Duration: 2 months</h6>
      </div>
      <div
        style="height: 0.2rem; width: 10rem; border-top: 2px solid #ffffff"
      ></div>
      <h6 class="mat-subheading-2" style="width: 85%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
      <h6 class="mat-subheading-2" style="width: 85%">
        Developers: Grant Moore, Peter Cofrancesco, Justin Stauffer,...
      </h6>
    </div>
  </div>

  <div class="project-info">
    <div class="technologies-container">
      <h5 class="mat-title text-white">TECHNOLOGIES</h5>
      <div class="technologies">
        <div class="accordion-container" style="width: 30%;">
          <mat-accordion>
            <mat-expansion-panel
             *ngFor="let tech of technologies"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title> <b>{{tech.name}}</b> </mat-panel-title>
              </mat-expansion-panel-header>
              <p> {{tech.description}} </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div>
          <p>Architecture diagram goes here...</p>
        </div>
      </div>
    </div>

    <div class="agile-container" style="margin-top: 4rem">
      <h5 class="mat-title text-white">AGILE PROCESSES</h5>
      <div class="table">
        <div class="stats text-white">
          <div>
            <h5 class="mat-title">SPRINTS</h5>
            <h1 class="mat-display-3">50</h1>
          </div>
          <div>
            <h5 class="mat-title">STORY POINTS</h5>
            <h1 class="mat-display-3">50</h1>
          </div>
          <div>
            <h5 class="mat-title">STORIES</h5>
            <h1 class="mat-display-3">50</h1>
          </div>
        </div>

        <div class="jira-report">
          <p>Jira report goes here...</p>
        </div>
      </div>
    </div>
  </div>
</div>
