<div *ngFor="let comment of comments; let i = index">
    <div>
      <h5 matLine> {{comment.author}} </h5>
      <p>{{comment.content}}</p>
      <!-- <mat-button mat-mini-fab (click)="onDeleteComment(comment.comment_id)"><mat-icon>delete</mat-icon></mat-button> -->
    </div>
    <div mat-action>
      <div mat-button-toggle (click)="togglePanel[i] = !togglePanel[i]">Reply</div>
      <!-- <app-reply-form [commentId]="comment._id" *ngIf="togglePanel[i]"></app-reply-form> -->
    </div>
    <mat-divider></mat-divider>
</div>
