<div id="app-container" class="app-container">
    <!-- TOOLBAR -->
    <app-toolbar id="app-toolbar" class="app-toolbar"
                    menuTooltip="Innovation Lab Menu"
                    (menuClick)="toggleMenu()">
    </app-toolbar>
    <!-- EXPANSION MENU -->
    <div id="expansion-menu" class="expansion-menu"
            [@expand]="menuAnimationCntl.state">
        <!-- ROUTE SUBMENU -->
        <div id="route-menu" class="route-menu">
            <span id="route-item" class="route-item"
                    *ngFor="let appRoute of appRoutes">
                <button mat-button id="route-link" 
                        class="route-link" color="accent"
                        *ngIf="displayRouteForUser(appRoute)"
                        [matTooltip]="appRoute.tooltip"
                        [routerLink]="appRoute.route"
                        (click)="closeMenu()">
                    {{ appRoute.title }}
                </button>
            </span> 
        </div>
        <!-- ACCOUNT SUBMENU -->
        <div id="account-menu" class="account-menu">
            <button mat-icon-button id="signout-button" 
                    class="signout-button" color="warn"
                    matTooltip="Sign Out"
                    (click)="confirmLogout()">
                <mat-icon>close</mat-icon>
            </button>
        </div>   
    </div>
    <router-outlet></router-outlet>

    <div id="app-footer" class="app-footer">
        <a id="facebook-link" class="icon-link"
            aria-label="facebook-link" role="link"
            href="https://twitter.com/MakparCorp" target="_blank">
            <mat-icon id="facebook-icon" svgIcon="facebook" color="primary"
                        matTooltip="Visit the Makpar Facebook Page"></mat-icon>
        </a>
        <a id="linkedin-link" class="icon-link"
            aria-label="linkedin-link" role="link"
            href="https://twitter.com/MakparCorp" target="_blank">
            <mat-icon id="linkedin-icon" svgIcon="linkedin" color="primary"
                        matTooltip="Visit the Makpar LinkedIn Profile"></mat-icon>
        </a>
        <a id="twitter-link" class="icon-link"
            aria-label="twitter-link" role="link"
            href="https://twitter.com/MakparCorp" target="_blank">
            <mat-icon id="twitter-icon" svgIcon="twitter" color="primary"
                        matTooltip="Visit the Makpar Twitter Page"></mat-icon>
        </a>
        <a id="rss-link" class="icon-link"
            aria-label="rss-feed" role="link"
            href="https://innolab-dev.makpar-innovation.net/api/news/rss-feed"
            target="_blank">
            <mat-icon color="primary"
                        matTooltip="View the Makpar Innovation Lab News Feed">rss_feed</mat-icon>
        </a>
    </div>
</div>