

.app-container {
    background-image: url(../assets/bg.png);
    background-position: center;
    min-height: 100vh;
}
/* Navigation Styles */
.toolbar-container {
    display: flex;
    background: transparent;
    border-bottom: 2px dashed #ffffffaf;
}
.nav-items {
    display: flex;
}
.nav-items a {
    padding-bottom: 0rem;
    margin-bottom: 0;
    margin-left: 1rem;
    text-decoration: none;
    color: #FFFFFF;
    
}

#active-tab {
    border-bottom: 2px solid #FFFFFF;
}