<div id="app-container">
  <mat-toolbar id="toolbar-container">
    <img id="logo-image" src="/assets/makpar_logo_white_vector.svg" height="34"/>

    <div id="nav-items">
      <span *ngFor="let appRoute of appRoutes">
        <a [id]="activeRoute(appRoute)" class="mat-subheading-2"
          *ngIf="displayRouteForUser(appRoute) && appRoute.route != '/docs'"
          [routerLink]="appRoute.route" (click)="onSelect(appRoute.route)">
          {{appRoute.title}}
        </a>
        <a *ngIf="displayRouteForUser(appRoute) && appRoute.route == '/docs'"
            class="mat-subheading-2" href="https://innolab-coverage.makpar-innovation.net"
            target="_blank">
          {{appRoute.title}}
        </a>
      </span>   
    </div>

    <div id="user-button-container">
      <button mat-icon-button id="settings-button" matTooltip="User Profile"
              routerLink="/admin/user">
        <mat-icon>account_circle</mat-icon>      
      </button>
      <button mat-button id="signout-button" color="warn"
              matTooltip="Sign Out" (click)="confirmLogout()" style="font-weight: normal !important;">
              <!-- <mat-icon>cancel</mat-icon> -->
              SIGN OUT
      </button>
    </div>
  </mat-toolbar>
  
  <div class="component-container">
    <router-outlet></router-outlet>
  </div>
</div>
  
