@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');

    .divider{
      border-bottom: 2px dashed map-get($primary-palette, default-contrast); 
    }
    .feed-header-border{
      border-top: 2px solid map-get($primary-palette, default-contrast);
    }
    .search-bar{
      background: map-get($primary-palette, default-contrast);
    }
    #view-button, #edit-button, #delete-button{
      background-color: transparent;
      color: map-get($primary-palette, default-contrast);
    }
    .news-card {
      background: map-get($primary-palette, 500);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
      @include color($theme);
    }
  
    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
      @include typography($theme);
    }
  }