<div id="feed-container">
  <div id="feed-header" class="text-white">
    <div id="feed-title">
      <h4 class="mat-headline" style="margin-right: 2rem">NEWS FEED</h4>
    </div>

    <div id="feed-header-content">
      <h5 class="mat-title">LOREM IPSUM DOLOR SIT AMET</h5>
      <div id="feed-header-border"></div>
      <h6 class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>
  </div>

  <div style="width: 100%"><div class="divider"></div></div>

  <div id="search-container">
    <div style="display: flex;">
      <input id="search-bar" name="searchBar" class="search-bar" 
              placeholder="Search" [(ngModel)]='searchValue' />  
    </div>

    <pagination-controls id="pagination" (pageChange)="pageIndex = $event"
                          previousLabel="Previous" nextLabel="Next"
                          [directionLinks]="true" [autoHide]="true">
    </pagination-controls>
  </div>

  <div id="news-container" *ngIf="feed">
    <mat-card id="news-item" class="news-card"
              *ngFor="let story of filteredFeed() |
                         paginate: { id: 'pagination', itemsPerPage: 4, currentPage: pageIndex }">

      <img mat-card-image src="/assets/preview.png" alt="Innovation Lab News Preview"/>

      <div style="padding: 2rem">
        <mat-card-title class="post-title" 
                        [routerLink]="['/news', story.news_id]">{{ story.title }}</mat-card-title>
        <div id="author-submission-container" class="feed-subtitle-container">
          <mat-card-subtitle>Author: {{ story.author }}</mat-card-subtitle>
          <mat-card-subtitle>{{ story.submitted }}</mat-card-subtitle>
        </div>
        <div id="subject-container" class="feed-subtitle-container">
          <mat-card-subtitle>{{ story.author }}</mat-card-subtitle>
        </div>
        <mat-card-content> {{ story.snippet }} </mat-card-content>
        <div id="news-action-container">
          <mat-card-actions>
            <button mat-icon-button 
              id="view-button" 
              color="accent"
              matTooltip="View this story"
              [routerLink]="['/news', story.news_id]">
              <mat-icon>details</mat-icon>
            </button>
            <button mat-icon-button 
              id="edit-button" 
              color="accent"
              matTooltip="Edit this story"
              *ngIf="isDeveloper && story.news_id"
              [routerLink]="['/admin/update', story.news_id]">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button 
              id="delete-button" 
              color="warn"
              matTooltip="Delete this story"
              *ngIf="isDeveloper && story.news_id"
              (click)="deleteNews(story.news_id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>

    <div id="no-results-container" *ngIf="filteredFeed().length == 0">
      <p class="text-white">No posts found</p>
    </div>
  </div>

  <div id="paginator">
    <pagination-controls id="paginator-controls"
      (pageChange)="pageIndex = $event"
      previousLabel="Previous"
      nextLabel="Next"
      [directionLinks]="true"
      [autoHide]="true"
    >
    </pagination-controls>
  </div>
</div>
