
p {
    margin: 0;
}

#adjudicator-home-container {
    background-color: #F7F7F7;
    width: 100%;
    padding: 3rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
#adjudicator-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
}
#new-case-panel {
    width: 30%;
    background: #FFFFFF;
    padding: 1rem 2.5rem 2rem 2.5rem;
}
#new-case-panel button {
    margin-top: 1rem;
}
#in-progress-panel {
    width: 65%;
    background: #FFFFFF;
    padding: 1rem 2.5rem 2rem 2.5rem;
}
.header {
    font-weight: normal;
    color: #005EA2;
}
.button-primary {
    background-color: #005EA2;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.2rem;
}
.button-primary:hover {
    cursor: pointer;
}
.button-primary:focus {
    outline: none !important;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none !important;
}

/* Cases Under Review */
#cases-container {
    margin-top: 1rem;
}
#cases-header {
    display: flex;
    justify-content: space-evenly;
    padding: 0.3rem 0;
}
#case-preview {
    display: flex;
    justify-content: center;
    border: 1px solid #DFE1E2;
    padding: 0.3rem 0;
    margin-bottom: 0.5rem;
}
#case-preview p, #cases-header p {
    width: 25%;
    text-align: center;
}
#text-primary {
    color: #005EA2;
}

.case-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
