.team-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-header-border {
  width: 7rem;
  margin: 1rem 0;
  border-bottom: 2px solid $white;
}
.team-header {
  width: 90%;

}
.team-header h5 {
  margin: 0.5rem 0;
  font-weight: normal;
}
.row h5 {
  font-weight: normal;
  margin-bottom: 0rem;
}
.row-wrapper {
  transform: translateY(-8rem);
}
