<div *ngFor="let comment of comments" id="comment-container">
  <div style="display: flex; align-items: center">
    <div id="photo-placeholder"></div>
    {{ comment.comment_id }}
    <h5 class="mat-title" style="margin-left: 1rem">{{ comment.author }}</h5>
    <h6 class="mat-subheading-2" style="margin-left: 1rem">
      {{ comment.submitted }}
    </h6>
  </div>

  <mat-card
    id="comment-card-item"
    class="comment-card"
    style="margin-left: 3.5rem"
  >
    <mat-card-content>
        {{comment.content}}
        <app-comments *ngIf="comment.child_comments" [comments]="comment.child_comments"></app-comments>
        <app-reply class="mat-elevation-z4" [commentId]="comment.comment_id" [reply_bool]="true"
                    tooltip="Submit a reply!"></app-reply>
    </mat-card-content>
  </mat-card>
  <!-- <app-reply class="mat-elevation-z4" [commentId]="comment.comment_id"
                        tooltip="Submit a reply!"></app-reply> -->

  <div style="display: flex; flex-direction: column; align-items: flex-end">
    <button
      mat-button
      (click)="showReplyToggle(comment.comment_id)"
      class="btn-primary-style"
      style="margin-top: 1rem"
    >
      + Reply
    </button>
    <app-reply
      *ngIf="showReply && buttonId == comment.comment_id"
      class="mat-elevation-z4"
      [commentId]="comment.comment_id"
      tooltip="Submit a reply!"
      style="width: 90%"
    ></app-reply>
  </div>
</div>
