
.mat-title, .mat-subheading-2 {
    margin: 0;
}

#comment-container {
    padding: 2rem 0;
    margin-left: 2rem;
}
.mat-card {
    border-radius: 0.5rem;
}
#photo-placeholder {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: #FFFFFF;
}