
.mat-title, .mat-subheading-2 {
    margin: 0;
}

#comment-container {
    padding-top: 0.5rem;
    /* margin-left: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#comment-container .header{
    width: 100%; display: flex; 
    align-items: center; justify-content: flex-start;
}
.mat-card {
    border-radius: 0.5rem;
}
#photo-placeholder {
    width: 2.5rem; height: 2.5rem; 
    border-radius: 1.5rem;
}
button {
    margin-top: 0.5rem !important;
}
