<div class="blog-container">
    <mat-card class="editor-container">
        <mat-card-title>Blog Editor</mat-card-title>
        <mat-card-content>
            <div class="add-blog-form-container"
                    id="add-blog-form-container">
                <form [formGroup]="blogFormGroup" 
                        (ngSubmit)="submit()">
                    <mat-form-field id="title-form-field"
                                    class="title-form-field"
                                    color="accent">
                        <mat-label>Title</mat-label>
                        <input matInput 
                                id="title-input" 
                                type="text" 
                                formControlName="title">
                        <button matSuffix mat-icon-button 
                                id="clear" 
                                type="button" 
                                aria-label="Clear" 
                                *ngIf="this.blogFormGroup.controls.title.value"
                                (click)="this.blogFormGroup.controls.title.setValue('')">
                            <mat-icon id="title-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="!blogFormGroup.controls.title.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field id="subject-form-field"
                                    class="subject-form-field"
                                    color="accent">
                        <mat-label>Subject</mat-label>
                        <input matInput 
                                id="subject-input" 
                                type="text" 
                                formControlName="subject">
                        <button matSuffix 
                                mat-icon-button 
                                id="clear" 
                                type="button" 
                                aria-label="Clear" 
                                *ngIf="this.blogFormGroup.controls.subject.value"
                                (click)="this.blogFormGroup.controls.subject.setValue('')">
                            <mat-icon id="title-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="!blogFormGroup.controls.subject.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <div class="center-flex fill-width">
                <div class="vertical-flex fill-width"> 
                    <button mat-icon-button
                            id="add-blog-button"
                            class="add-blog-button"
                            [disabled]="blogFormGroup.invalid">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>