<div class="wrapper">
    <div class="nav-container">
        <div class="nav-container-heading">
            <h2>Dashboard</h2>
        </div>
        <div class="nav-container-links">
            <button mat-raised-button 
                    color="primary"
                    routerLink='/admin/add-blog'
                    matTooltip="Add Blog">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-raised-button 
                    color="primary"
                    routerLink='/admin/all-blogs'
                    matTooltip="Blog Archive">
                <mat-icon>archive</mat-icon>
            </button>
            <button mat-raised-button
                    color="warn"
                    id="signout-button" 
                    matTooltip="Sign Out"
                    (click)="open_dialog('Are you sure you want to sign out?')">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="main-container"> 
        <router-outlet></router-outlet>
    </div>
</div>