<div class="news-container">
    <mat-card class="editor-container">
        <mat-card-title>News Feed Editor</mat-card-title>
        <mat-card-content>
            <div class="add-news-form-container"
                    id="add-news-form-container">
                <form [formGroup]="newsFormGroup" 
                        (ngSubmit)="submit()">
                    <mat-form-field id="title-form-field"
                                    class="title-form-field"
                                    color="accent">
                        <mat-label>Title</mat-label>
                        <input matInput 
                                id="title-input" 
                                type="text" 
                                formControlName="title">
                        <button matSuffix mat-icon-button 
                                id="clear" 
                                type="button" 
                                aria-label="Clear" 
                                *ngIf="this.newsFormGroup.controls.title.value"
                                (click)="this.newsFormGroup.controls.title.setValue('')">
                            <mat-icon id="title-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="!newsFormGroup.controls.title.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field id="subject-form-field"
                                    class="subject-form-field"
                                    color="accent">
                        <mat-label>Subject</mat-label>
                        <input matInput 
                                id="subject-input" 
                                type="text" 
                                formControlName="subject">
                        <button matSuffix 
                                mat-icon-button 
                                id="clear" 
                                type="button" 
                                aria-label="Clear" 
                                *ngIf="this.newsFormGroup.controls.subject.value"
                                (click)="this.newsFormGroup.controls.subject.setValue('')">
                            <mat-icon id="title-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="!newsFormGroup.controls.subject.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                  
                    <angular-editor formControlName="content" 
                                    [config]="editorConfig"></angular-editor>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions align="end"> 
            <button mat-icon-button
                    id="add-news-button"
                    class="add-news-button"
                    color="accent"
                    [disabled]="newsFormGroup.invalid"
                    matTooltip="{{this.mode == 'new' ? 'Submit news story': 'Edit news story'}}"
                    (click)="confirmSubmission()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>