@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
    $color-config: mat.get-color-config($theme);
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');
    $warn-palette: map.get($color-config, 'warn');

    .bg-white, .services-container {
      background-color: map-get($primary-palette, default-contrast);
    }
    .bg-primary {
      background-color: map-get($primary-palette, 500);
    }
    .text-white {
      color: map-get($primary-palette, default-contrast);
    }
    .text-primary {
      color: map-get($primary-palette, 500);
    }
    .selected{
      border-bottom: map-get($primary-palette, 500);
    }
    .sidenav-border{
      border-bottom:  2px dashed map-get($primary-palette, 'default-contrast') !important;

    }
    .services-container {
      background-color: map-get($primary-palette, default-contrast);
    }
    .services-container .nav-menu .nav-border{
      border-bottom: 2px dashed map-get($primary-palette, 500);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
      @include color($theme);
    }
  
    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
      @include typography($theme);
    }
  }