<div id="home-container">
  <div id="home-header">
    <div id="splash">
      <h3 class="mat-display-2 text-white">INNOVATION LAB</h3>
      <h5 class="mat-headline text-white">
        LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT
      </h5>
    </div>
    <div id="sidenav-container">
      <h5 class="mat-headline text-white" *ngFor="let route of appRoutes">
        <a *ngIf="route.route != '/docs'" [routerLink]="route.route">{{route.title}}</a>
        <a *ngIf="route.route == '/docs'" href="http://innolab-coverage.makpar-innovation.net"
            target="_blank">{{route.title}}</a>
      </h5>
      <div id="sidenav-border"></div>
    </div>
  </div>   
  <div id="services-container">
    <div id="nav">
      <div id="nav-header">
        <div id="nav-title" class="mat-headline text-primary">SERVICES</div>
        <div id="nav-border" class="dashed-border"></div>
      </div>
      <div id="nav-selector" class="text-primary">
        <div id="nav-select" *ngFor="let section of sections">
          <h5 id="nav-headline" class="mat-headline" (click)="onSelect(section)">
            <span class="{{ isSelected(section) ? 'selected' : ''}}">{{section.title}}</span>
          </h5>
          <div id="select-underline" class="dashed-border" *ngIf="isSelected(section)"></div>
          <div id="select-underline" class="hidden-border" *ngIf="!isSelected(section)"></div>
        </div>
      </div>
    </div>
    <div id="nav-view" class="bg-primary">
      <h5 id="view-title" class="text-white mat-headline" 
          [@fade]="sectionFadeState">{{selected.title}}</h5>
      <h6 id="view-description" class="text-white mat-body" 
          [@fade]="sectionFadeState">{{selected.description}}</h6>
    </div>
  </div>
</div>

