.home-containter {
    display: flex; flex-direction: column; 
    min-height: 100vh; width: 100vw;
}

/* Header Styles */
.home-header {
    display: flex; justify-content: space-between;
    align-items: center;
    width: 100vw; min-height: 70vh;
}
.mat-display-2 {
    margin-bottom: 1rem;
}
.mat-headline{
    margin-right: 50px; text-align: right;
}

/* Services Section Styles */
.card {
    width: 50%; min-height: 25rem;
    height: 100%; padding: 2rem 0; 

}
ul h5 {
    margin-bottom: 0.5rem;
}
ul h5:hover {
    cursor: pointer;
}
.selected {
    font-weight: bold;
}
.sidenav-container{
    display: flex; flex-direction: column
}
.sidenav-border{
    border-bottom: 2px dashed;
    height: 0.5rem; width: 18rem;
}
.services-container{
    display: flex; justify-content: space-between;
    align-items: center; overflow: hidden;
    height: 100%; width: 80%;
}
.services-container .nav-header{
    display: flex; padding-left: 50px; 
    margin-top: 20px
}
.services-container .nav-header .nav-border{
    height: 0.2rem; width: 8rem;
    
}
.services-container .nav-selector{
    width: 100%; display: flex; 
    justify-content: flex-end
}
.services-container .nav-selector .nav-selection{
    width: 100%; display: flex;
    justify-content: flex-end; margin-top: 1rem;
}
#open-right {
    animation: open-right; animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes open-right {
    0% {
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
    }
}