<div id="home-container" 
        class="home-container">

    <mat-toolbar id="toolbar-container" 
                    class="toolbar-container">
        <div id="menu-toolbar" 
                class="menu-container">
            <button mat-icon-button
                    id="menu-button">
                <mat-icon id="menu-icon">menu</mat-icon>
            </button>
        </div>

        <div id="logo-container"
                class="logo-container">
            <img id="logo-image" 
                    src="/assets/makpar_logo_white_vector.svg">
        </div>
    </mat-toolbar>

</div>