<div class="dialog-container">
    <div mat-dialog-content align="center">
        <h2>{{message}}</h2>
    </div>
    
    <!-- 'YesOrNo' type implementation -->
    <div class="dialog-button-container" id="yes-no-button-container"
            *ngIf="this.type=='YesOrNo'">
        <button mat-raised-button id="yes-button"
                color="primary" 
                (click)="onClick(true)">Yes</button>
        <button mat-raised-button id="no-button"
                color="warn"  
                (click)="onClick(false)">No</button>
    </div>
    <!-- 'OK' type implementation-->
    <div class="dialog-button-container" id="ok-button-container"
            *ngIf="this.type=='OK'">
        <button mat-raised-button id="ok-button"
                color="primary"
                (click)="onClick(true)">Ok</button>
    </div>
    <!-- 'RouteLink' type implementation-->
    <div class="dialog-button-container" id="route-button-container"
            *ngIf="this.type=='RouteLink'">
        <button mat-button id="route-button"
                color="accent"
                *ngIf="this.route"
                [routerLink]="this.route"
                (click)="onClick(true)">{{this.route}}</button>
    </div>

</div>

