.mat-title {
  font-weight: normal;
}
.card-header {
  display: flex;
  width: 100%;
  justify-content: right;
}
.action-container {
  width: 100%;
  display: flex;
  justify-content: right;
}
textarea {
  border: none;
  border-radius: 0.5rem;
  /* width: 90%;
  max-width: 90%;
  min-height: 3rem;
  padding: 1rem; */
}
