#mission-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
#mission-header {
  width: 90%;
  display: flex; justify-content: center;
}
#values-container{
  width: 100%; 
  display: flex; 
  justify-content: center;
}
#values-col-right{
  margin-top: 3rem;
}
.column {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 21%;
  /* height: 15rem; */
  margin-top: 3rem;
  padding: 2rem 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card:first-child {
  margin-left: 0;
}
.card h5 {
  /* height: 2.5rem; */
  padding-bottom: 0.6rem;
  white-space: nowrap;
  margin: 2rem 0 1rem 0;
  text-align: center;
}
.card h6 {
  margin: 0 2.2rem 2rem 2.2rem;
  text-align: center;
}
.mission-header h5 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}
.mission-header-border {
  height: 0.7rem;
  width: 6rem;
}
.mat-title {
  font-weight: normal;
}
