<div id="mission-container" [@slide]>
  <div id="mission-header" class="text-white">
    <div style="width: 10%; text-align: right">
      <h4 class="mat-headline" style="margin-right: 2rem">MISSION</h4>
    </div>

    <div style="width: 70%">
      <h5 class="mat-title">OUR VALUES</h5>
      <div class="mission-header-border"></div>
      <h6 class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>
  </div>

  <div id="values-container">
    <div class="card text-white">
        <img src="../../../../../assets/Engaged.png" width="90%" />
      <h5 id="engaged-title" class="mat-headline">ENGAGED</h5>
      <h6 id="engaged-info" class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>

    <div class="card text-white">
        <img src="../../../../../assets/On_It.png" width="90%" />
      <h5 id="onit-title" class="mat-headline">ON IT!</h5>
      <h6 id="onit-info" class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>

    <div class="card text-white">
        <img src="../../../../../assets/Customer_Delight.png" width="90%" />
      <h5 id="customer-delight-title" class="mat-headline">
        CUSTOMER DELIGHT
      </h5>
      <h6 id="customer-delight-info" class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>


    <div class="card text-white">
        <img src="../../../../../assets/Calm_Execution.png" width="90%" />
      <h5 id="calm-execution-title" class="mat-headline">
        CALM EXECUTION
      </h5>
      <h6 id="calm-execution-info" class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>
  </div>
</div>
