<div id="admin-container" class="admin-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav [opened]="isShowing">
            <button mat-raised-button color="primary" routerLink='/admin' matTooltip="Dashboard"> Home </button>
            <button mat-raised-button color="primary" routerLink='/admin/user' > Edit User Profile </button>
            <button mat-raised-button color="primary" routerLink='/admin/feed' > All Posts </button>
            <button mat-raised-button id="add-blog-button" class="add-blog-button" color="primary" routerLink='/admin/add' > Add A Post </button>
            <button mat-raised-button color="primary" > Comments Flagged For Review </button>
        </mat-sidenav>
        <mat-sidenav-content>  
            <button mat-raised-button (click)="toggle()">Menu</button>
            
            <!-- <div class="action-container">
                
            </div> -->
            <div id="main-container" class="main-container"> 
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
