<div class="login-container" 
     id="login-page">
    <mat-card id="login-card" 
                class="login-card mat-elevation-z8">

        <mat-card-title id="login-card-title">Innovation Lab Access</mat-card-title>

        <mat-card-content id="login-card-content">
            <div class="vertical-flex"
                    id="login-form-container">

                <form [formGroup]="loginFormGroup" (ngSubmit)="login()">

                    <mat-form-field id="email-form-field"
                                    class="login-form-field"
                                    color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput 
                                id="email-input" 
                                type="text" 
                                formControlName="email"
                                (keydown.enter)="login()">
                        <button matSuffix mat-icon-button 
                                id="email-clear" 
                                type="button" 
                                aria-label="Clear" 
                                *ngIf="this.loginFormGroup.controls.email.value"
                                (click)="this.loginFormGroup.controls.email.setValue('')">
                            <mat-icon id="email-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="loginFormGroup.controls.email.hasError('email') && !loginFormGroup.controls.email.hasError('required')">
                            Please enter a valid email
                        </mat-error>
                        <mat-error *ngIf="!loginFormGroup.controls.email.hasError('email') && loginFormGroup.controls.email.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field id="password-form-field" 
                                    class="login-form-field"
                                    color="accent">
                        <mat-label color="warn">Password</mat-label>
                        <input matInput 
                                id="password-input" 
                                formControlName="password"
                                autocomplete="current-password"
                                [type]="hidePassword ? 'password' : 'text'" 
                                (keydown.enter)="login()">
                        <button matSuffix mat-icon-button
                                id="password-clear" 
                                type="button" 
                                *ngIf="this.loginFormGroup.controls['password'].value" 
                                aria-label="Clear" 
                            (click)="this.loginFormGroup.controls['password'].setValue('')">
                            <mat-icon id="password-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <button mat-icon-button matSuffix 
                                type="button" id="password-hide" 
                                (click)="hidePassword = !hidePassword" 
                                [attr.aria-label]="'Hide password'" 
                                [attr.aria-pressed]="hidePassword">
                            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginFormGroup.controls.password.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>

                </form>
            </div>
        </mat-card-content>

        <mat-card-actions id="login-card-actions">
            <div class="center-flex">
                <div class="vertical-flex"> 
                    <button mat-raised-button
                            id="login-button"
                            class="login-button mat-elevation-z5" 
                            type="button"  
                            (click)="login()" 
                            [disabled]="loginFormGroup.invalid">Login</button>
                
                    <a id="register-link" 
                        class="register-link"
                        routerLink="/register">Register</a>
                </div>
            </div>
        </mat-card-actions>

        <mat-card-footer id="login-card-footer">
            <mat-progress-bar id="login-card-progress-bar"
                                *ngIf="loading" 
                                mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
    </mat-card>

</div>