<div id="login-container" >
  <mat-card id="login-card" class="mat-elevation-z8">
    <mat-card-title id="login-card-title">
        <h4 class="mat-headline text-primary">Sign In</h4>
    </mat-card-title>
    <mat-card-content id="login-card-content">
      <div id="login-form-container" class="login-form-container">
        <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
          <mat-form-field id="email-form-field" class="login-form-field" color="accent">
            <mat-label>Email</mat-label>
            <input matInput id="email-input" formControlName="email" type="text"
                    aria-label="email-input" (keydown.enter)="login()"/>
            <button matSuffix mat-icon-button id="email-clear-button"
                    type="button" aria-label="email-clear-button"
                    *ngIf="this.loginFormGroup.controls.email.value"
                    (click)="this.loginFormGroup.controls.email.setValue('')">
              <mat-icon id="email-clear-icon" color="primary">close</mat-icon>
            </button>
            <mat-error *ngIf="loginFormGroup.controls.email.hasError('email')">
              Please enter a valid email
            </mat-error>
            <mat-error *ngIf="loginFormGroup.controls.email.hasError('required')">
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field id="password-form-field" class="login-form-field" color="accent">
            <mat-label color="warn">Password</mat-label>
            <input matInput id="password-input" formControlName="password"
              autocomplete="current-password" aria-label="password-input"
              [type]="hidePassword ? 'password' : 'text'" (keydown.enter)="login()"/>
            <button matSuffix mat-icon-button id="password-clear-button"
                type="button" aria-label="password-clear-button"
                *ngIf="this.loginFormGroup.controls.password.value"
                (click)="this.loginFormGroup.controls.password.setValue('')">
              <mat-icon id="password-clear-icon" color="primary">close</mat-icon>
            </button>
            <button mat-icon-button matSuffix id="password-hide-button"
              type="button" (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'password-hide-button'"
              [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
            </button>
            <mat-error
              *ngIf="loginFormGroup.controls.password.hasError('required')"
            >
              This field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions id="login-card-actions">
      <div style="display: flex; justify-content: space-evenly;">
        <button
          id="login-button"
          type="button"
          (click)="login()"
          [disabled]="loginFormGroup.invalid"
        >
          Sign In
        </button>

        <button
          id="register-button"
          matTooltip="Register for a new Innovation Lab account!"
          routerLink="/register"
        >
          Sign Up
        </button>
      </div>
    </mat-card-actions>
    <mat-card-footer id="login-card-footer">
      <mat-progress-bar
        id="login-card-progress-bar"
        mode="indeterminate"
        *ngIf="loading"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
