mat-form-field { display: flex; }
#login-container {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 90vh; width: 100vw;
}
#login-container #login-form-container { display: flex; justify-content: center; }
#login-container .login-form-field { flex: 1; }
#login-card { padding: 3rem 5rem; }
#login-card-title { text-align: center; }
#login-card-actions{ display: flex; justify-content: space-evenly; }
#login-button { padding: 0.4rem 1.2rem; border-radius: 1.5rem; }
#register-button { padding: 0.4rem 1.2rem; border-radius: 1.5rem; }
