<div class="projects-container" [@slide]
      style="padding: 3rem 0 15rem 0">
  <div
    style="display: flex; justify-content: center"
    class="text-white projects-header"
  >
    <div style="width: 20%; text-align: right">
      <h4 class="mat-headline" style="margin-right: 2rem">PROJECTS</h4>
    </div>

    <div style="width: 75%">
      <h5 class="mat-title">LOREM IPSUM DOLOR SIT AMET</h5>
      <div id="projects-header-border" class="header-border"></div>
      <h6 class="mat-subheading-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam. Consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </h6>
    </div>
  </div>

  <div class="projects-wrapper">
    <div class="projects-year">
      <div [style.height]="yearHeight" *ngFor="let project of projects">
        <h4 class="mat-headline text-white" style="margin: 2rem 2rem 0 0">
          {{project.date}}
        </h4>
      </div>
      <!-- <div [style.height]="yearHeight">
        <h4 class="mat-headline text-white" style="margin: 2rem 2rem 0 0">
          2022
        </h4>
      </div>

      <div>
        <h4 class="mat-headline text-white" style="margin: 2rem 2rem 0 0">
          2021
        </h4>
      </div> -->
    </div>

    <div class="projects">
      <div *ngFor="let project of projects" class="preview bg-white text-primary" style="height: 18rem; overflow: hidden;">
        <div class="preview-image" style="height: 90%;">
          <img src="/assets/preview.png" width="100%"/>
        </div>
        <div class="preview-info">
          <a routerLink="/project">
            <h5 class="mat-title">{{project.title}}</h5>
          </a>
          <h6 class="mat-subheading-2">
            {{project.description}}
          </h6>
          <div style="display: flex; flex-wrap: wrap">
            <button *ngFor="let tag of project.tags" class="project-tag">{{tag}}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
