
<div class="mission-container" style="padding: 3rem 0; ">
    <div style="display: flex; justify-content: center;" class="text-white mission-header">
        <div style="width: 10%; text-align: right;">
            <h4 class="mat-headline" style="margin-right: 2rem;">MISSION</h4>
        </div>

        <div style="width: 70%;">
            <h5 class="mat-title">OUR VALUES</h5>
            <div class="mission-header-border"></div>
            <h6 class="mat-subheading-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam. Consectetur adipiscing elit, sed do eiusmod
                tempor incididunt.</h6>
        </div>
    </div>

    <div style="width: 100%; display: flex; justify-content: center;">
        <div class="column">
            <div class="card primary-text">
                <h5 class="mat-headline text-primary">ENGAGED</h5>
                <h6 class="mat-title text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam. Consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt.</h6>
            </div>

            <div class="card primary-text">
                <h5 class="mat-headline text-primary">CUSTOMER DELIGHT</h5>
                <h6 class="mat-title text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam. Consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt.</h6>
            </div>
        </div>

        <div class="column" style="margin-top: 3rem; border-left: 2px dashed #ffffffaf;">
            <div class="card primary-text">
                <h5 class="mat-headline text-primary">ON IT!</h5>
                <h6 class="mat-title text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam. Consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt.</h6>
            </div>

            <div class="card primary-text">
                <h5 class="mat-headline text-primary">CALM EXECUTION</h5>
                <h6 class="mat-title text-primary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam. Consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt.</h6>
            </div>
        </div>
    </div>
</div>
