
.mat-display-3 {
    margin-bottom: 2rem;
}
.mat-display-1 {
    margin-bottom: 1rem;
}
.mat-title {
    margin-bottom: 0.3rem;
    font-weight: normal;
}
.mat-subheading-2 {
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.project-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-info {
    margin-top: 3em;
    width: 80%;
    border-left: 2px dashed #FFFFFF;
    padding-left: 2rem;

    min-height: 50vh;
}

.technologies {
    width: 100%;
    min-height: 35rem;
    background: #FFFFFF;
    display: flex;
}
.accordion-container {
    background: #424242;
}

.agile-container {
    width: 100%;
    min-height: 35rem;
}

.stats {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.stats div {
    width: 30%;
    text-align: center;
}

.jira-report {
    width: 100%;
    min-height: 35rem;
    background: #FFFFFF;
}


/* Material UI Accordion */
.mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
.mat-accordion .mat-expansion-panel:last-of-type {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 0 0 !important;
}
.mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}