<div class="card">
  <div class="card-header">
    <h5 class="mat-title">COMMENTS</h5>
    <button mat-icon-button style="margin-left: 1rem;" 
            matTooltip="Submit a comment!"
            (click)="toggleComment()" *ngIf="!showComment">
      <mat-icon>comment</mat-icon>
    </button>
  </div>
  <div class="card-body" *ngIf="showComment">
    <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
      <mat-form-field style="width: 100%">
        <mat-label> Comment </mat-label>
        <textarea matInput id="comment-input" formControlName="content"
                  placeholder="any thoughts..." mat-input></textarea>
        <mat-error *ngIf="commentForm.controls['content'].hasError('required')">Required</mat-error>
      </mat-form-field>
      <div class="action-container">
        <button mat-icon-button type="button" color="warn"
                *ngIf="commentForm.touched" (click)="onCommentCancel()">
                <mat-icon>backspace</mat-icon>
        </button>
        <button mat-icon-button type="submit" (click)="onSubmit()">
          <mat-icon>comment</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<div style="margin-left: 2rem;" *ngIf="!child">
  <app-comment-list></app-comment-list>
</div>
