.mat-title {
    font-weight: normal;
}
.card-header{
    display: flex
}
.action-container{
    width: 100%; display: flex; justify-content: space-between;
}
textarea {
    border: none; border-radius: 0.5rem;
    width: 90%; max-width: 90%;
    min-height: 3rem; padding: 1rem;
}