<div class="card">
  <div class="card-header" style="display: flex">
    <h5 class="mat-title" style="text-transform: uppercase">Comments</h5>
    <button
      class="button-primary"
      style="margin-left: 1rem; box-shadow: 0 2px 6px #0000005d"
      (click)="showCommentToggle()"
    >
      + Add a Comment
    </button>
  </div>
  <div class="card-body" *ngIf="showComment">
    <form (ngSubmit)="onSubmit()" [formGroup]="commentForm">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field style="width: 100%">
            <mat-label> Comment </mat-label>
            <!-- <textarea formControlName="content" matInput placeholder="any thoughts..."></textarea>
            <mat-error align="end" *ngIf="commentForm.controls['content'].hasError('required')">Required</mat-error> -->
            <textarea
              formControlName="content"
              placeholder="any thoughts..."
              mat-input
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div mat-action style="width: 95%; display: flex; justify-content: space-between;">
        <button type="button" class="button-white" (click)="hideCommentToggle()">
          Cancel
        </button>

        <div>
          <button type="button" class="button-white"  (click)="onCommentCancel()">
            Clear
          </button>
          <button type="submit" class="button-primary" (click)="onSubmit()" style="margin-left: 0.5rem;">Comment</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="margin-left: 2rem;">
  <app-comment-list></app-comment-list>
</div>
