html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*containers*/
.vertical-flex{ display: flex; flex-direction: column; }

/*formatting*/
.margin-center{ margin: auto; }