<div id="register-container" class="register-container" >
    <mat-card id="register-card" class="register-card mat-elevation-z8">
        <mat-card-title id="register-card-title">Innovation Lab Account Creation</mat-card-title>
        <mat-card-content id="register-card-content">
            <div id="register-form-container" class="register-form-container">
                <form [formGroup]="registerFormGroup" 
                        (ngSubmit)="register()">
                    <!-- EMAIL FORM FIELD-->
                    <mat-form-field id="email-form-field" class="register-form-field"
                                    color="accent">
                        <mat-label>Email</mat-label>
                        <input matInput id="email-input" formControlName="email"
                                type="text" 
                                (keydown.enter)="register()">
                        <button matSuffix mat-icon-button  id="email-clear" 
                                type="button" aria-label="Clear" 
                                *ngIf="this.registerFormGroup.controls.email.value"
                                (click)="this.registerFormGroup.controls.email.setValue('')">
                            <mat-icon id="email-clear-icon"
                                        color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="registerFormGroup.controls.email.hasError('email')">
                            Please enter a valid email
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls.email.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- USER NAME FORMFIELD-->
                    <mat-form-field id="username-form-field" class="register-form-field"
                                    color="accent">
                        <mat-label color="warn">Username</mat-label>
                        <input matInput id="username-input" formControlName="username"
                                type="text" 
                                (keydown.enter)="register()">
                        <button matSuffix mat-icon-button id="username-clear-button" 
                                type="button" aria-label="username-clear-button" 
                                *ngIf="this.registerFormGroup.controls.username.value" 
                            (click)="this.registerFormGroup.controls.username.setValue('')">
                            <mat-icon id="username-clear-icon" color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="registerFormGroup.controls.username.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls.username.hasError('maxLength')">
                            This field cannot exceed <strong>50</strong> characters.
                        </mat-error>
                    </mat-form-field>
                    <!-- BUSINESS NAME FORM FIELD -->
                    <mat-form-field id="business-name-form-field" class="register-form-field"
                                    color="accent">
                        <mat-label color="warn">Business Name</mat-label>
                        <input matInput id="businessname-input" formControlName="business_name"
                                type="text" 
                                (keydown.enter)="register()">
                        <button matSuffix mat-icon-button id="business-clear-button" 
                                type="button" aria-label="business-clear-button" 
                                *ngIf="this.registerFormGroup.controls.business_name.value" 
                            (click)="this.registerFormGroup.controls.business_name.setValue('')">
                            <mat-icon id="business-clear-icon" color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="registerFormGroup.controls.business_name.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls.business_name.hasError('maxLength')">
                            This field cannot exceed <strong>100</strong> characters.
                        </mat-error>
                    </mat-form-field>
                    <!-- ADDRESS FORM FIELD -->
                    <mat-form-field id="address-form-field" class="register-form-field"
                                    color="accent">
                        <mat-label color="warn">Address</mat-label>
                        <input matInput id="adress-input" formControlName="address"
                                type="text" 
                                (keydown.enter)="register()">
                        <button matSuffix mat-icon-button id="address-clear-button" 
                                type="button" aria-label="address-clear-button" 
                                *ngIf="this.registerFormGroup.controls.address.value" 
                            (click)="this.registerFormGroup.controls.address.setValue('')">
                            <mat-icon id="address-clear-icon" color="primary">close</mat-icon>
                        </button>
                        <mat-error *ngIf="registerFormGroup.controls.address.hasError('required')">
                            This field is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="registerFormGroup.controls.address.hasError('maxLength')">
                            This field cannot exceed <strong>250</strong> characters.
                        </mat-error>
                    </mat-form-field>
                    <!-- NOTIFICATION FORM FIELD -->
                    <mat-checkbox id="notifications-form-field" class="register-form-field"
                                    aria-label="notifications-form-field" color="accent"
                                    formControlName="notifications">Notifications</mat-checkbox>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions id="register-card-actions">
            <div class="center-flex">
                <div class="vertical-flex"> 
                    <button mat-raised-button id="register-button" class="register-button mat-elevation-z5" 
                            type="button" matTooltip="Create an account for the Innovation Lab!" 
                            [disabled]="registerFormGroup.invalid"
                            [@scale]="registerBtnScaleCntl.state" 
                            [@highlight]="registerBtnHighlightCntl.state"
                            (mouseenter)="animateRegisterBtn()" (mouseleave)="primeRegisterBtn()"
                            (click)="register()">Register</button>
                
                </div>
            </div>
        </mat-card-actions>
        <mat-card-footer id="register-card-footer">
            <mat-progress-bar id="register-card-progress-bar" mode="indeterminate"
                                *ngIf="loading" ></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>