mat-form-field {
  display: flex;
}
#register-container {
  display: flex; flex-direction: column;
  justify-content: center; align-items: center;
  height: 90vh; width: 100vw;
}
#register-form-container {
  display: flex;
  justify-content: center;
}
#register-card { padding: 3rem 5rem; }
#register-card-title{ text-align: center; width: 100%; }
#register-card-actions{ display: flex; justify-content: space-evenly; }
#login-button, #register-button { padding: 0.4rem 1.2rem; border-radius: 1.5rem; }

