<div class="story-container text-white">
  <div class="story-header">
    <button mat-button id="back-button" 
            class="btn-primary-style btn-primary-theme mat-elevation-z2"
            routerLink="/news/feed">
      &lt; BACK
    </button>

    <div *ngIf="newsPost" class="story-info">
      <div id="profile-pic" class="profile-pic">
        <!-- User Profile Image -->
      </div>
      <h6 class="mat-subheading-2" style="margin: 1rem 0 0 0"> {{ newsPost.author }} </h6>
      <h6 class="mat-subheading-2">{{ newsPost.submitted }} </h6>
    </div>
  </div>

  <div id="story-detail-container" class="story-detail-container"
        *ngIf="newsPost">
    <h4 class="mat-display-1" style="margin-right: 2rem">
      {{ newsPost.title }}
    </h4>
    <div class="projects-header-border"></div>
    <h6 class="mat-subheading-2">{{ newsPost.subject }}</h6>

    <div class="content">
      <div [innerHTML]="newsPost.content | sanitize: 'html'"></div>
    </div>
    <app-comment [child]="false" [parentId]="null"> </app-comment>
    <app-comment-list *ngIf="newsPost.comments" [comments]="newsPost.comments" ></app-comment-list>
  </div>
</div>
