/* Typography */
.mat-display-1 {
    margin-bottom: 1rem;
}

.story-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.projects-header-border {
    height: 0.7rem;
    width: 6rem;
    border-top: 2px solid #ffffff;
  }