<mat-toolbar id="toolbar-container" 
                    class="toolbar-container">
    <div id="menu-container" 
            class="menu-container">
        <button mat-icon-button
                id="menu-button"
                [matTooltip]="menuTooltip"
                (click)="emitClick()">
            <mat-icon id="menu-icon">menu</mat-icon>
        </button>
    </div>

    <div id="logo-container"
            class="logo-container">
        <img id="logo-image" 
                src="/assets/makpar_logo_white_vector.svg">
    </div>
</mat-toolbar>